<a href="https://colab.research.google.com/github/OmkarK-7/Atten./blob/main/finetune_llm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import random
import json
import torch
from transformers import GPT2Tokenizer, GPT2LMHeadModel, Trainer, TrainingArguments
from torch.utils.data import Dataset

reference_table = pd.read_csv('reference-table.csv')
reference_table_dict = reference_table.to_dict(orient='records')
reference_table_dict

[{'Stored in Table': 'NEW',
  'Value Name': 'New',
  'Value Description': 'Order has been placed but not yet processed',
  'Column Name ': 'Order Status'},
 {'Stored in Table': 'PND',
  'Value Name': 'Pending',
  'Value Description': 'Order is awaiting further action',
  'Column Name ': 'Order Status'},
 {'Stored in Table': 'PRC',
  'Value Name': 'Processing',
  'Value Description': 'Order is being processed',
  'Column Name ': 'Order Status'},
 {'Stored in Table': 'PCK',
  'Value Name': 'Picked',
  'Value Description': 'Order items have been picked for shipping',
  'Column Name ': 'Order Status'},
 {'Stored in Table': 'PKD',
  'Value Name': 'Packed',
  'Value Description': 'Order has been packed',
  'Column Name ': 'Order Status'},
 {'Stored in Table': 'SHP',
  'Value Name': 'Shipped',
  'Value Description': 'Order has been shipped out from the warehouse',
  'Column Name ': 'Order Status'},
 {'Stored in Table': 'OOD',
  'Value Name': 'Out for Delivery',
  'Value Description': 'Order is out for delivery to the customer',
  'Column Name ': 'Order Status'},
 {'Stored in Table': 'DEL',
  'Value Name': 'Delivered',
  'Value Description': 'Order has been delivered to the customer',
  'Column Name ': 'Order Status'},
 {'Stored in Table': 'RTN',
  'Value Name': 'Returned',
  'Value Description': 'Order has been returned by the customer',
  'Column Name ': 'Order Status'},
 {'Stored in Table': 'CAN',
  'Value Name': 'Cancelled',
  'Value Description': 'Order has been cancelled',
  'Column Name ': 'Order Status'},
 {'Stored in Table': 'REF',
  'Value Name': 'Refunded',
  'Value Description': 'Payment has been refunded',
  'Column Name ': 'Order Status'},
 {'Stored in Table': 'HOL',
  'Value Name': 'On Hold',
  'Value Description': 'Order is on hold, pending review or information',
  'Column Name ': 'Order Status'},
 {'Stored in Table': 'FLD',
  'Value Name': 'Failed',
  'Value Description': 'Order processing has failed',
  'Column Name ': 'Order Status'},
 {'Stored in Table': 'SP',
  'Value Name': 'Standard Shipping',
  'Value Description': 'Delivery within standard time frame',
  'Column Name ': 'Shipping Method'},
 {'Stored in Table': 'EX',
  'Value Name': 'Express Shipping',
  'Value Description': 'Faster delivery for an additional fee',
  'Column Name ': 'Shipping Method'},
 {'Stored in Table': 'FS',
  'Value Name': 'Free Shipping',
  'Value Description': 'No shipping charge, conditions may apply',
  'Column Name ': 'Shipping Method'},
 {'Stored in Table': 'PS',
  'Value Name': 'Pickup in Store',
  'Value Description': 'Order can be picked up at a store location',
  'Column Name ': 'Shipping Method'},
 {'Stored in Table': 'OD',
  'Value Name': 'Overnight Delivery',
  'Value Description': 'Next day delivery',
  'Column Name ': 'Shipping Method'},
 {'Stored in Table': 'New York',
  'Value Name': 'New York',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Los Angeles',
  'Value Name': 'Los Angeles',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Chicago',
  'Value Name': 'Chicago',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Houston',
  'Value Name': 'Houston',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Phoenix',
  'Value Name': 'Phoenix',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Philadelphia',
  'Value Name': 'Philadelphia',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'San Antonio',
  'Value Name': 'San Antonio',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'San Diego',
  'Value Name': 'San Diego',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Dallas',
  'Value Name': 'Dallas',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'San Jose',
  'Value Name': 'San Jose',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Austin',
  'Value Name': 'Austin',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Jacksonville',
  'Value Name': 'Jacksonville',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Fort Worth',
  'Value Name': 'Fort Worth',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Columbus',
  'Value Name': 'Columbus',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Indianapolis',
  'Value Name': 'Indianapolis',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Charlotte',
  'Value Name': 'Charlotte',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'San Francisco',
  'Value Name': 'San Francisco',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Seattle',
  'Value Name': 'Seattle',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Denver',
  'Value Name': 'Denver',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Washington D.C.',
  'Value Name': 'Washington D.C.',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Nashville',
  'Value Name': 'Nashville',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Oklahoma City',
  'Value Name': 'Oklahoma City',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'El Paso',
  'Value Name': 'El Paso',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Boston',
  'Value Name': 'Boston',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Portland',
  'Value Name': 'Portland',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Las Vegas',
  'Value Name': 'Las Vegas',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Detroit',
  'Value Name': 'Detroit',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Memphis',
  'Value Name': 'Memphis',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Louisville',
  'Value Name': 'Louisville',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Baltimore',
  'Value Name': 'Baltimore',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Milwaukee',
  'Value Name': 'Milwaukee',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Albuquerque',
  'Value Name': 'Albuquerque',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Tucson',
  'Value Name': 'Tucson',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Fresno',
  'Value Name': 'Fresno',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Sacramento',
  'Value Name': 'Sacramento',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Kansas City',
  'Value Name': 'Kansas City',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Mesa',
  'Value Name': 'Mesa',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Atlanta',
  'Value Name': 'Atlanta',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Omaha',
  'Value Name': 'Omaha',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Colorado Springs',
  'Value Name': 'Colorado Springs',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Raleigh',
  'Value Name': 'Raleigh',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Long Beach',
  'Value Name': 'Long Beach',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Virginia Beach',
  'Value Name': 'Virginia Beach',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Miami',
  'Value Name': 'Miami',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Oakland',
  'Value Name': 'Oakland',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Minneapolis',
  'Value Name': 'Minneapolis',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Tulsa',
  'Value Name': 'Tulsa',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Arlington',
  'Value Name': 'Arlington',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'New Orleans',
  'Value Name': 'New Orleans',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Wichita',
  'Value Name': 'Wichita',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Cleveland',
  'Value Name': 'Cleveland',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Tampa',
  'Value Name': 'Tampa',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Bakersfield',
  'Value Name': 'Bakersfield',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Aurora',
  'Value Name': 'Aurora',
  'Value Description': 'Major city in the US',
  'Column Name ': 'city'},
 {'Stored in Table': 'Germany',
  'Value Name': 'Germany',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'France',
  'Value Name': 'France',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Italy',
  'Value Name': 'Italy',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Spain',
  'Value Name': 'Spain',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'United Kingdom',
  'Value Name': 'United Kingdom',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Netherlands',
  'Value Name': 'Netherlands',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Belgium',
  'Value Name': 'Belgium',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Switzerland',
  'Value Name': 'Switzerland',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Poland',
  'Value Name': 'Poland',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Sweden',
  'Value Name': 'Sweden',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Norway',
  'Value Name': 'Norway',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Denmark',
  'Value Name': 'Denmark',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Finland',
  'Value Name': 'Finland',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Portugal',
  'Value Name': 'Portugal',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Austria',
  'Value Name': 'Austria',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Ireland',
  'Value Name': 'Ireland',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Czech Republic',
  'Value Name': 'Czech Republic',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Greece',
  'Value Name': 'Greece',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Hungary',
  'Value Name': 'Hungary',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Romania',
  'Value Name': 'Romania',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Bulgaria',
  'Value Name': 'Bulgaria',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Slovakia',
  'Value Name': 'Slovakia',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Lithuania',
  'Value Name': 'Lithuania',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Latvia',
  'Value Name': 'Latvia',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Estonia',
  'Value Name': 'Estonia',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Slovenia',
  'Value Name': 'Slovenia',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Croatia',
  'Value Name': 'Croatia',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Bosnia and Herzegovina',
  'Value Name': 'Bosnia and Herzegovina',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Serbia',
  'Value Name': 'Serbia',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Montenegro',
  'Value Name': 'Montenegro',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'North Macedonia',
  'Value Name': 'North Macedonia',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Albania',
  'Value Name': 'Albania',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Kosovo',
  'Value Name': 'Kosovo',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Cyprus',
  'Value Name': 'Cyprus',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Malta',
  'Value Name': 'Malta',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Luxembourg',
  'Value Name': 'Luxembourg',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Monaco',
  'Value Name': 'Monaco',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Liechtenstein',
  'Value Name': 'Liechtenstein',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Iceland',
  'Value Name': 'Iceland',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Andorra',
  'Value Name': 'Andorra',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'San Marino',
  'Value Name': 'San Marino',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'Vatican City',
  'Value Name': 'Vatican City',
  'Value Description': 'A major country in Europe',
  'Column Name ': 'country'},
 {'Stored in Table': 'London',
  'Value Name': 'London',
  'Value Description': 'Major city in the United Kingdom',
  'Column Name ': 'city'},
 {'Stored in Table': 'Paris',
  'Value Name': 'Paris',
  'Value Description': 'Major city in France',
  'Column Name ': 'city'},
 {'Stored in Table': 'Berlin',
  'Value Name': 'Berlin',
  'Value Description': 'Major city in Germany',
  'Column Name ': 'city'},
 {'Stored in Table': 'Madrid',
  'Value Name': 'Madrid',
  'Value Description': 'Major city in Spain',
  'Column Name ': 'city'},
 {'Stored in Table': 'Rome',
  'Value Name': 'Rome',
  'Value Description': 'Major city in Italy',
  'Column Name ': 'city'},
 {'Stored in Table': 'Amsterdam',
  'Value Name': 'Amsterdam',
  'Value Description': 'Major city in the Netherlands',
  'Column Name ': 'city'},
 {'Stored in Table': 'Prague',
  'Value Name': 'Prague',
  'Value Description': 'Major city in Czech Republic',
  'Column Name ': 'city'},
 {'Stored in Table': 'Vienna',
  'Value Name': 'Vienna',
  'Value Description': 'Major city in Austria',
  'Column Name ': 'city'},
 {'Stored in Table': 'Budapest',
  'Value Name': 'Budapest',
  'Value Description': 'Major city in Hungary',
  'Column Name ': 'city'},
 {'Stored in Table': 'Barcelona',
  'Value Name': 'Barcelona',
  'Value Description': 'Major city in Spain',
  'Column Name ': 'city'},
 {'Stored in Table': 'Munich',
  'Value Name': 'Munich',
  'Value Description': 'Major city in Germany',
  'Column Name ': 'city'},
 {'Stored in Table': 'Lisbon',
  'Value Name': 'Lisbon',
  'Value Description': 'Major city in Portugal',
  'Column Name ': 'city'},
 {'Stored in Table': 'Brussels',
  'Value Name': 'Brussels',
  'Value Description': 'Major city in Belgium',
  'Column Name ': 'city'},
 {'Stored in Table': 'Stockholm',
  'Value Name': 'Stockholm',
  'Value Description': 'Major city in Sweden',
  'Column Name ': 'city'},
 {'Stored in Table': 'Copenhagen',
  'Value Name': 'Copenhagen',
  'Value Description': 'Major city in Denmark',
  'Column Name ': 'city'},
 {'Stored in Table': 'Dublin',
  'Value Name': 'Dublin',
  'Value Description': 'Major city in Ireland',
  'Column Name ': 'city'},
 {'Stored in Table': 'Athens',
  'Value Name': 'Athens',
  'Value Description': 'Major city in Greece',
  'Column Name ': 'city'},
 {'Stored in Table': 'Oslo',
  'Value Name': 'Oslo',
  'Value Description': 'Major city in Norway',
  'Column Name ': 'city'},
 {'Stored in Table': 'Helsinki',
  'Value Name': 'Helsinki',
  'Value Description': 'Major city in Finland',
  'Column Name ': 'city'},
 {'Stored in Table': 'Zurich',
  'Value Name': 'Zurich',
  'Value Description': 'Major city in Switzerland',
  'Column Name ': 'city'},
 {'Stored in Table': 'Warsaw',
  'Value Name': 'Warsaw',
  'Value Description': 'Major city in Poland',
  'Column Name ': 'city'},
 {'Stored in Table': 'Istanbul',
  'Value Name': 'Istanbul',
  'Value Description': 'Major city in Turkey',
  'Column Name ': 'city'},
 {'Stored in Table': 'Moscow',
  'Value Name': 'Moscow',
  'Value Description': 'Major city in Russia',
  'Column Name ': 'city'},
 {'Stored in Table': 'Saint Petersburg',
  'Value Name': 'Saint Petersburg',
  'Value Description': 'Major city in Russia',
  'Column Name ': 'city'},
 {'Stored in Table': 'Milan',
  'Value Name': 'Milan',
  'Value Description': 'Major city in Italy',
  'Column Name ': 'city'},
 {'Stored in Table': 'Edinburgh',
  'Value Name': 'Edinburgh',
  'Value Description': 'Major city in the United Kingdom',
  'Column Name ': 'city'},
 {'Stored in Table': 'Venice',
  'Value Name': 'Venice',
  'Value Description': 'Major city in Italy',
  'Column Name ': 'city'},
 {'Stored in Table': 'Frankfurt',
  'Value Name': 'Frankfurt',
  'Value Description': 'Major city in Germany',
  'Column Name ': 'city'},

In [4]:
import os
import json

data_model = {}

# Path to the data model directory
data_model_dir = 'https://github.com/OmkarK-7/Atten./tree/8722a35c6f03b603da3a9282ea6ba47623df0ac8/DataModel/ecom_tables_and_columns_new_with_dimensions'

# Traverse through the subfolders and read JSON files
for subdir, _, files in os.walk(data_model_dir):
    for file in files:
        if file.endswith('.json'):
            file_path = os.path.join(subdir, file)
            with open(file_path, 'r') as f:
                table_data = json.load(f)
                table_name = table_data['table_name']
                data_model[table_name] = table_data

print(json.dumps(data_model, indent=4))  # Print to verify the loaded data

{}

In [ ]:
# Loading pre-trained model( using gpt-2 for this case) and tokenizer.
model_name = 'gpt2'
tokenizer = GPT2Tokenizer.from_pretrained(model_name)
model = GPT2LMHeadModel.from_pretrained(model_name)

# Create training data this will take a lot of time and not fully complete.
train_data = [
    {"input": "What is the average duration from order placement to shipment across different product categories, segmented by customer regions and order volume?",
     "output": {
         "tables": ["order", "product", "customer"],
         "columns": ["order.order_date", "order.shipped_date", "product.category", "customer.region", "order.order_volume"],
         "relationships": [{"from_table": "order", "from_column": "product_id", "to_table": "product", "to_column": "product_id"},
                           {"from_table": "order", "from_column": "customer_id", "to_table": "customer", "to_column": "customer_id"}]
     },
     "input": "How can I determine the peak shopping hours by analyzing the times at which customers complete their purchases on our e-commerce platform?",
     "output": {
         "tables": ["order", "product", "customer"],
         "columns": ["order.order_date", "order.shipped_date", "product.category", "customer.region", "order.order_volume"],
         "relationships": [{"from_table": "order", "from_column": "product_id", "to_table": "product", "to_column": "product_id"},
                           {"from_table": "order", "from_column": "customer_id", "to_table": "customer", "to_column": "customer_id"}]
     }

     },
    # Have to add more question-answer pairs
]

# Tokenize and prepare data for training
def preprocess_data(data):
    inputs = tokenizer([item['input'] for item in data], return_tensors='pt', truncation=True, padding=True, max_length=512)
    outputs = tokenizer([str(item['output']) for item in data], return_tensors='pt', truncation=True, padding=True, max_length=512)
    return inputs, outputs

inputs, outputs = preprocess_data(train_data)

# Training arguments
training_args = TrainingArguments(output_dir='./results',
                                  num_train_epochs=3,
                                  per_device_train_batch_size=4,
                                  save_steps=10_000,
                                  save_total_limit=2,
                                  )

trainer = Trainer(model=model, args=training_args, train_dataset=inputs, eval_dataset=outputs,)
trainer.train()

**Creating the Validation Dataset**

You can create a validation dataset from the provided questions or use some other questions if available. The process involves selecting a subset of the questions, manually mapping them to the relevant columns and tables, and then using this subset for validation.

In [ ]:
# Load the Questions
questions_df = pd.read_csv('questions.csv')

# Select a Subset for Validation
# Assuming the 'questions.csv' has a column named 'Question'
validation_subset = questions_df.sample(n=10)  # Select 10 random questions for validation

# Step 3: Manually Map Selected Questions
# For demonstration purposes, we are creating dummy mappings. In practice, this should be done manually.
manual_mappings = {
    "What is the average duration from order placement to shipment across different product categories, segmented by customer regions and order volume?": {
        "tables": ["order", "product", "customer"],
        "columns": ["order.order_date", "order.shipped_date", "product.category", "customer.region", "order.order_volume"],
        "relationships": [
            {"from_table": "order", "from_column": "product_id", "to_table": "product", "to_column": "product_id"},
            {"from_table": "order", "from_column": "customer_id", "to_table": "customer", "to_column": "customer_id"}
        ]
    },
    "How can I determine the peak shopping hours by analyzing the times at which customers complete their purchases on our e-commerce platform?": {
        "tables": ["order", "customer"],
        "columns": ["order.order_time", "customer.customer_id"],
        "relationships": [
            {"from_table": "order", "from_column": "customer_id", "to_table": "customer", "to_column": "customer_id"}
        ]
    },
    # Have to add more mappings for the selected questions
}

# Prepare the Validation Dataset
validation_data = []
for question in validation_subset['Question']:
    if question in manual_mappings:
        validation_data.append({
            "question": question,
            "mapping": manual_mappings[question]
        })

# Save the Validation Dataset
with open('validation_dataset.json', 'w') as f:
    json.dump(validation_data, f, indent=4)

print("Validation dataset created and saved as 'validation_dataset.json'")

In [ ]:
# Load the validation dataset
with open('validation_dataset.json', 'r') as f:
    validation_data = json.load(f)

In [ ]:
# Load pre-trained model and tokenizer
model_name = 'gpt2'
tokenizer = GPT2Tokenizer.from_pretrained(model_name)
model = GPT2LMHeadModel.from_pretrained(model_name)

# Prepare validation data
def preprocess_data(data):
    inputs = [item['question'] for item in data]
    outputs = [json.dumps(item['mapping']) for item in data]

    input_encodings = tokenizer(inputs, truncation=True, padding=True, max_length=512, return_tensors='pt')
    output_encodings = tokenizer(outputs, truncation=True, padding=True, max_length=512, return_tensors='pt')

    return input_encodings, output_encodings

validation_inputs, validation_outputs = preprocess_data(validation_data)

In [ ]:
class ValidationDataset(Dataset):
    def __init__(self, encodings, labels):
        self.encodings = encodings
        self.labels = labels

    def __getitem__(self, idx):
        item = {key: torch.tensor(val[idx]) for key, val in self.encodings.items()}
        item['labels'] = torch.tensor(self.labels['input_ids'][idx])
        return item

    def __len__(self):
        return len(self.encodings.input_ids)

# Create validation dataset
val_dataset = ValidationDataset(validation_inputs, validation_outputs)

# Training arguments
training_args = TrainingArguments(
    output_dir='./results',
    num_train_epochs=3,
    per_device_train_batch_size=4,
    per_device_eval_batch_size=4,
    save_steps=10_000,
    save_total_limit=2,
    evaluation_strategy="epoch"
)

# Trainer
trainer = Trainer(
    model=model,
    args=training_args,
    eval_dataset=val_dataset,
)

# Evaluate the model
eval_results = trainer.evaluate()

print("Evaluation results:", eval_results)

# Using the Finetuned Model

After fine-tuning the model and validated its performance, we should set up a pipeline to interact with the model and ask questions.

In [ ]:
# Load the fine-tuned model and tokenizer
model_path = './results/checkpoint-last'  # Model's save path
tokenizer = GPT2Tokenizer.from_pretrained(model_path)
model = GPT2LMHeadModel.from_pretrained(model_path)

In [ ]:
def ask_question(question):
    # Tokenize the input question
    inputs = tokenizer(question, return_tensors='pt', truncation=True, padding=True, max_length=512)

    # Generate the model's output
    with torch.no_grad():
        outputs = model.generate(inputs['input_ids'], max_length=512, num_return_sequences=1)

    # Decode the output
    output_text = tokenizer.decode(outputs[0], skip_special_tokens=True)

    return output_text

In [ ]:
def parse_output(output_text):
    try:
        output_data = json.loads(output_text)
        return output_data
    except json.JSONDecodeError:
        return {"error": "Failed to parse model output."}

# Example usage
question = "Give me top 5 customers with most number of orders."
raw_output = ask_question(question)
parsed_output = parse_output(raw_output)

print(json.dumps(parsed_output, indent=4))